# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other temporary files
*.tmp
*.bak
*.swp
*.swo

# Output files
*.pdf
*.tiff
*.png